{
    "API_KEY": "YOURKEYHERE",
    "ENDPOINT": "https://api.thingspeak.com/update.json",
    "SER_PORT": "/dev/ttyACM0",
    "SAMPLE_TIME_MS": 200,
    "CLOUD_PUSH_TIME_S": 60,
    "CO2_ADC_THRESHOLD": 75,
    "CSV_LOG": "data.csv"
}